#languageMenu{
	width: 290px;
}

#theList{
	width: 300px;
}

#optionsButton{
	list-style-image: url("settings.png");
	-moz-image-region: rect(0px 16px 16px 0px);
	padding-right:8px;
}

#menu_LanguageManager,
#appmenu_LanguageManager{
	list-style-image: url("icon16.png");
	
}

#lm_options_menu_manager,
#toolbar_openLangageManager{
	list-style-image: url("icon16.png");
	
}

#toolbar_openLangageManager[cui-areatype="menu-panel"]{
	list-style-image: url("icon32.png")!important;	
}

#toolbar_openLangageManager:not([cui-areatype="toolbar"])> .toolbarbutton-icon{
	list-style-image: url("icon32.png")!important;	
}

#lm_options_menu_options{
	list-style-image: url("settings.png");
	-moz-image-region: rect(0px 16px 16px 0px);
}

#context_LanguageManager_toggle{
	list-style-image: url("lm-toggle.png");	
}

#context_LanguageManager_remove{
	list-style-image: url("lm-remove.png");	
}

	/* Make sure it only uses this css in language manger*/
    @-moz-document url(chrome://languagemanager/content/language_Manager.xul) {
	
	#placeholder{}
	
			.help-button {
			  min-width: 30px;
			  border-radius: 16px;
			  border: 1px solid inherit;

			}

			.help-button:not([disabled="true"]):hover {
			  background-color: #fefefe;
			  opacity: 0.5;
			  background-image: none;
			}

			.help-button:not([disabled="true"]):hover:active {
			  background-color: inherit;
			  background-image: none;
			}

			.help-button > .button-box {
			  padding-top: 0;
			  padding-bottom: 0;
			  padding-right: 0 !important;
			  padding-left: 0 !important;
			}

			.help-button > .button-box > .button-icon {
			  width: 26px;
			  height: 26px;
			  background-image: url("help-glyph.png");
			  background-position: center;
			}

			@media (min-resolution: 2dppx) {
			.help-button > .button-box > .button-icon {
				background-size: 26px 26px;
				background-image: url("help-glyph@2x.png");
			  }
			}

			.help-button > .button-box >.button-text {
			  display: none;
			}
	}	
	
/* Theme compatibility slight margin issue with some themes and the language manager xul window */
#Language-Manager[themename="FXChrome"] #top_pane_caption{
	margin-left:7px;
}

#Language-Manager[themename="FXOpera"] #top_pane_caption,
#Language-Manager[themename="FXOpera"] #top_pane{
	margin-left:7px;
}

#Language-Manager[themename="mx3"] #top_pane_caption,
#Language-Manager[themename="mx3"] #top_pane,
#Language-Manager[themename="mx4"] #top_pane_caption,
#Language-Manager[themename="mx4"] #top_pane{
	margin-left:7px;
}

/* style Popup */
	#lm-pack-context-menu,
	#lm_options_menu {
	  -moz-appearance: none;
	  -moz-binding: url("chrome://browser/content/places/menu.xml#places-popup-arrow");
	  background: transparent;
	  border: none;
	  -moz-image-region: auto;
	  transform: scale(.4);
	  opacity: 0;
	  transition-property: transform, opacity;
	  transition-duration: 0.15s;
	  transition-timing-function: ease-out;
	}
	#lm-pack-context-menu[animate="open"],
	#lm_options_menu[animate="open"] {
	  transform: none;
	  opacity: 1.0;
	}
	#lm-pack-context-menu[animate="cancel"],
	#lm_options_menu[animate="cancel"] {
	  transform: none;
	}
	#lm-pack-context-menu[arrowposition="after_start"]:-moz-locale-dir(ltr),
	#lm-pack-context-menu[arrowposition="after_end"]:-moz-locale-dir(rtl),
	#lm_options_menu[arrowposition="after_start"]:-moz-locale-dir(ltr),
	#lm_options_menu[arrowposition="after_end"]:-moz-locale-dir(rtl) {
	  transform-origin: 20px top;
	}
	#lm-pack-context-menu[arrowposition="after_end"]:-moz-locale-dir(ltr),
	#lm-pack-context-menu[arrowposition="after_start"]:-moz-locale-dir(rtl),
	#lm_options_menu[arrowposition="after_end"]:-moz-locale-dir(ltr),
	#lm_options_menu[arrowposition="after_start"]:-moz-locale-dir(rtl) {
	  transform-origin: calc(100% - 20px) top;
	}
	#lm-pack-context-menu[arrowposition="before_start"]:-moz-locale-dir(ltr),
	#lm-pack-context-menu[arrowposition="before_end"]:-moz-locale-dir(rtl),
	#lm_options_menu[arrowposition="before_start"]:-moz-locale-dir(ltr),
	#lm_options_menu[arrowposition="before_end"]:-moz-locale-dir(rtl) {
	  transform-origin: 20px bottom;
	}
	#lm-pack-context-menu[arrowposition="before_end"]:-moz-locale-dir(ltr),
	#lm-pack-context-menu[arrowposition="before_start"]:-moz-locale-dir(rtl),
	#lm_options_menu[arrowposition="before_end"]:-moz-locale-dir(ltr),
	#lm_options_menu[arrowposition="before_start"]:-moz-locale-dir(rtl) {
	  transform-origin: calc(100% - 20px) bottom;
	}
	#lm-pack-context-menu[side="top"],
	#lm-pack-context-menu[side="bottom"],
	#lm_options_menu[side="top"],
	#lm_options_menu[side="bottom"] {
	  margin-left: -20px;
	  margin-right: -20px;
	}
	#lm-pack-context-menu[side="left"],
	#lm-pack-context-menu[side="right"],
	#lm_options_menu[side="left"],
	#lm_options_menu[side="right"] {
	  margin-top: -20px;
	  margin-bottom: -20px;
	}
	#lm-pack-context-menu[arrowposition] menuseparator 	
	#lm_options_menu[arrowposition] menuseparator {
	  margin-left: -30px;
	  margin-right: -30px;

	}
	#lm-pack-context-menu[arrowposition] box,
	#lm_options_menu[arrowposition] box {
	  padding-left: 1px;
	  padding-right: 1px;
	}
	#lm-pack-context-menu + menuseparator + menuseparator + menu + menu + menu + menuseparator,
	#lm-pack-context-menu + menuseparator,
	#lm_options_menu + menuseparator + menuseparator + menu + menu + menu + menuseparator,
	#lm_options_menu + menuseparator {
	  display:none;
	}
	#lm-pack-context-menu > menu:not([_moz-menuactive]),
	#lm-pack-context-menu > menuitem:not([_moz-menuactive]),
	#lm_options_menu > menu:not([_moz-menuactive]),
	#lm_options_menu > menuitem:not([_moz-menuactive]) {
	  -moz-appearance:none;
	}
